.sidelayout {
  margin: 15px 0;
  height: 50%;
  margin-top: 5% !important;

  &-header {
    h1 {
      position: relative;
      left: 30%;
      margin: 0;
    }
  }

  &-burger-button {
    button {
      i {
        color: #cfe100;
        font-size: 2rem;
      }

      &:hover {
        & i {
          color: white;
        }
      }
    }
  }
}

.sidelayout__card {
  height: 90%;
  border-radius: 0.8rem;

  &__body {
    display: flex;
    align-items: normal;
    justify-content: center;
    height: 90%;
  }

  .list-group {
    width: 100%;
    height: 97%;
    text-align: center;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 5px;

      &-track {
        background: transparent;
      }

      &-thumb {
        background: #6f17c2;
        border-radius: 5px;
        border: 0.8px solid white;
        &:hover {
          background: #656565;
        }
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  .sidelayout {
    &-header {
      h1 {
        left: 20%;
      }
    }
  }
}
