.content-layout {
  max-height: 100%;

  &--no-graph {
    margin: 15px 0;
    margin-top: 15px !important;
  }

  &__card {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 5px;
    border-radius: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}

.add-graph-button {
  border-radius: 50% !important;
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;

  i {
    width: 3rem;
  }
}

@media only screen and (max-width: 1224px) {
  .content-layout {
    height: 90%;
    overflow-y: scroll;
  }
}

.heading {
  color: darkturquoise;
}

.tagline {
  color: grey;
  padding-top: 2%;
}

.info-para {
  box-sizing: border-box;
  width: 75%;
  height: auto;
  margin: 3%;
  padding: 1% 4% 1% 4%;
  border: 2px solid rgb(117, 117, 117);
  border-radius: 3rem 0 3rem 0;
  justify-content: center;
  align-content: center;
  color: gainsboro;
}

.info-para a{
  text-decoration: none;
  color: darkturquoise;
}

// .btn {
//   margin: 2rem;
// }
.btn-text {
  color: grey;
}
